<!-- text_sidebar_image: Why not have a text with an image in a sidebar? -->
				<tr>
					<td style="padding-top:{{global.gutter.top}}px">
						<table cellpadding="0" cellspacing="0" width="100%" style="width:100%;{{global.font.main}};color:{{global.colors.main-txt}};">
							<tr>
								<td valign="top" style="padding:0 {{global.gutter.side}}px 0 0">
									<!-- TODO: put basic styles in paragraph -->
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, sint hic delectus voluptatibus esse voluptate saepe distinctio laborum voluptas dolorum! Magni, expedita excepturi commodi officia explicabo dolore quidem veniam reiciendis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, similique, at culpa quidem nostrum corrupti laudantium voluptatem illum deserunt dolore autem minima fugiat rem qui libero. Qui culpa libero perferendis.</p>
								</td>
								<!-- Don't forget to put the image's width as the width for the cell. -->
								<td valign="top" width="100px">{{ "100x150" | placeholder | image_tag}}</td>
							</tr>
						</table>
					</td>
				</tr>