{% layout "layout.en" %}

{% block title %}HTML TITLE!!{% endblock %}

{% block content %} 
	<table cellpadding="0" cellspacing="0" width="100%" style="margin:0 auto;width:100%;border:1px solid {{global.colors.main-txt}};">
		<tr>
			<td style="background-color:#fff;padding:{{global.gutter.top}}px {{global.gutter.side}}px">
				<table class="mixture-main-table" cellpadding="0" cellspacing="0" width="100%" style="width:100%;{{global.font.main}};color:{{global.colors.main-txt}};">
					<tbody>

						{% include "1col_image" %}
						{% include "1col_text" %}
						{% include "text_sidebar_image" %}
						{% include "image_sidebar_text" %}
						{% include "text_sidebar_text" %}

<!--

COMING SOON!
						{% include "2col_text_bgcolor" %}

						{% include "2row_text_1col_image" %}
						{% include "2row_images_1col_text" %}					
-->

						<tr>
							<td style="padding-top:{{global.gutter.top}}px"><strong>With these templates, you should be able to mix and match them as you wish. Just don't forget to add the <code>style:"display:block;border:0px"</code> to your <code>img</code> tags</strong></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}